.button-navigation {
    width: 77px;
    height: 76px;
    transform-origin: center;
    transform: scale(.8);

    @media (min-width: 768px) {
      cursor: pointer;
      transform: scale(1);
    }
}