@font-face {
  font-family: "Chirp Regular";
  src: url("../assets/fonts/chirp-regular.otf") format("opentype")
}

@font-face {
  font-family: "Chirp Light";
  src: url("../assets/fonts/chirp-light.otf") format("opentype")
}

@font-face {
  font-family: "Chirp Bold";
  src: url("../assets/fonts/chirp-bold.otf") format("opentype")
}

@font-face {
  font-family: "Chirp Extended Bold";
  src: url("../assets/fonts/chirp-extended-bold.otf") format("opentype")
}

@font-face {
  font-family: "Chirp Extended Black";
  src: url("../assets/fonts/chirp-extended-black.otf") format("opentype")
}

:root {
  --height: 100px;
}

html {
  height: var(--height) !important;
  overflow: hidden !important;
}

body {
    max-height: var(--height) !important;
    overflow: hidden !important;
}

html, body, div {
  font-family: 'Chirp Regular', sans-serif;
}

div {
  box-sizing: border-box;
}

button {
  font-family: 'Chirp Extended Bold', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Chirp Bold', sans-serif;
}

p, span {
  font-family: "Chirp Light";
}

.content-wrapper {
  min-height: var(--height);
  padding: 0 !important;
  margin: 0 !important;

  .col, .row {
    margin: 0;
    padding: 0;
  }

  &.overflow {
    overflow: hidden;
  }
}

*::-webkit-scrollbar { width: 1px; height: 1px } *::-webkit-scrollbar-track { background: transparent } *::-webkit-scrollbar-thumb { background: transparent }
* { scrollbar-color: transparent; scrollbar-width: thin; }


* ::-webkit-scrollbar { 
  @media (min-width: 768px) {
    width: 2px !important; 
    height: 1px !important; 
  }
} 
::-webkit-scrollbar-track { 
  @media (min-width: 768px) {
    background: #c4c4c4 !important; 
  }
} 
::-webkit-scrollbar-thumb { 
  @media (min-width: 768px) {
    background: #15202b !important; 
  }
}

* { 
  @media (min-width: 768px) {
    scrollbar-color: #15202b !important ;
    scrollbar-width: thin !important;
  }
};

.reenviar-email {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.modal-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testing { 
  .timeline {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 272px;

    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.form {
  max-width: 525px !important;

  @media (min-width: 768px) {
    padding: 120px 0 0 0;
  }

  p, h2 {
    color: #000000;
    font-size: 18px;
    margin-bottom: 0;
  }

  .alert-danger {
    padding: 1.3rem 1.25rem !important;
    border-radius: 8px !important;
  }

  h2 {
    font-size: 28px;
    text-align: center;
  }

  a {
    color: #1D9BF0;
    transition: all .3s ease;
    font-size: 18px;
    text-decoration: underline;

    &:hover {
      color: #97E3FF;
    }
  }

  form {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-height: calc(var(--height) - 200px);
    padding-bottom: 30px;
    
    @media (max-width: 767px) {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      max-height: calc(var(--height) - 150px);
    }

    @media (min-width: 768px) {
      &.register {
        padding-right: 16px;
      }
    }
  }

  .form-group {
    position: relative;
    font-size: 22px;
    margin: 0;
  }

  p.preencha {
    color: #1D9BF0;
  }

  label {
    &.checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 3px;
      cursor: pointer;
      font-size: 14px;
      color: #CFD9DE;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: all .3s linear;

      &.filled {
        color: #CFD9DE;
      }

      span {
        color: #1D9BF0;
        text-decoration: underline;
      }

      div {
        position: relative;
        margin-right: 10px;
        width: 34px;
        height: 34px;
        outline: none;
        border: solid 2px #D9D9D9;
        border-radius: 8px;
        background: #FFFFFF;
        letter-spacing: 1.28px;

        @media (min-width: 768px) {
          width: 24px;
          height: 24px;
        }  

        &.checked {
          &:after {
            content: '';
            position: absolute;
            width: 70%;
            height: 70%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 4px;
            background: #D9D9D9;
          }
        }
      }
    }
  }

  .form-control {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 70px;
    border: solid 2px #15202B;
    border-radius: 8px;
    background: #FFF;
    color: #D9D9D9;
    font-size: 22px;
    padding: 0 24px;
    margin: 0;
    outline: none;

    &:focus, &:focus-within, &.filled {
      background: #FFF;
      color: #15202B;
      // color: rgba(#D9D9D9, .3);
      ~ label {
        transform: translateY(-10%)  scale(.6);
        color:#15202B;
        opacity: .8;
        top: 0px;
        cursor: default;
      }
    }

    &:disabled {
      background: rgba(#000, .1);
      color: rgba(#000, .5);
      border: solid 2px rgba(#000, .5);
      user-select: none;
      pointer-events: none;
      ~ label {
        display: none;
      }
    }
  }

  .form-label {
    position: absolute;
    top: 50%;
    left: 25px;
    color: #15202B;
    font-size: 22px;
    transform-origin: left;
    transform: translateY(-50%) scale(1);
    transition: all .25s ease;
    opacity: 1;
    margin: 0;
    cursor: text;
    pointer-events: none;

    &.filled {
      transform: translateY(-10%)  scale(.6);
      opacity: .8;
      top: 0;
      color:#15202B;
      cursor: default;
    }
  }

  .btn-form {
    height: 70px;
    background: #FFF;
    color: #1D9BF0;
    border: solid 2px #1D9BF0;
    border-radius: 8px;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all .3s ease;

    &:hover {
      color: #FFF;
      border: solid 2px #1D9BF0;
      background: #1D9BF0;
    }

    &:disabled {
      background: #FFF;
      color: #1D9BF0 !important;
      border: solid 2px #1D9BF0 !important;
      background: rgba(#000, .1);
      cursor: not-allowed;
    }
  }

  .distance-top {
    margin-top: 40px;

    &.higher {
      margin-top: 56px;
    }

    &.lighter {
      margin-top: 20px;
    }
  }
}

.form .alert-danger {
  font-family: 'Chirp Extended Bold', sans-serif !important;
  color: #FA4233 !important;
  background: #FFF !important;
  border: solid 2px #FA4233 !important;
  padding: 12.5px 1.25rem !important;
  border-radius: 8px !important;
  text-align: center;
  font-size: 14px;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
  border-color: #15202B;
}