@font-face {
  font-family: "Chirp Regular";
  src: url("../assets/fonts/chirp-regular.otf") format("opentype")
}

@font-face {
  font-family: "Chirp Light";
  src: url("../assets/fonts/chirp-light.otf") format("opentype")
}

@font-face {
  font-family: "Chirp Light";
  src: url("../assets/fonts/chirp-light.otf") format("opentype")
}

@font-face {
  font-family: "Chirp Bold";
  src: url("../assets/fonts/chirp-bold.otf") format("opentype")
}

html, body {
  font-family: 'Chirp Regular', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Chirp Bold', sans-serif;
}

.content-wrapper {
  min-height: 100vh;
  padding: 0 !important;
  margin: 0 !important;

  .col, .row {
    margin: 0;
    padding: 0;
  }

  &.overflow {
    overflow: hidden;
  }
}

*::-webkit-scrollbar { width: 1px; height: 1px } *::-webkit-scrollbar-track { background: transparent } *::-webkit-scrollbar-thumb { background: transparent }
* { scrollbar-color: transparent; scrollbar-width: thin; }

.debug {
  border: solid 1px red;

  &-blue {
    border: solid 1px blue;
  }
}

.modal-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.7);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testing { 
  .timeline {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 272px;

    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}