.header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #000;
  padding: 0 30px;
  height: 50px;
  z-index: 10;

  .logo-container {
    position: absolute;
    top: 100%;
    left: 30px;
    transform: translateY(-50%);

    img {
      width: 68px;
      height: 68px;

      @media (min-width: 768px) {
        width: initial;
        height: initial;
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;

    .divisor {
      width: 1px;
      height: 30px;
      background: #FFF;
      pointer-events: none;
      margin: 0 31px;
    }

    p {
      margin: 0;
    }
  }

  @media (min-width: 768px){
    height: 70px;
  }
}