.menu__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1079px) {
    padding-top: 10px;
    &:after {
      content: '';
      position: absolute;
      top: 0; 
      right: 0;
      height: 1px;
      background: rgba(255,255,255, .3);
      width: 170px;
    }
  }

  ul {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: 1080px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    li {
      font-family: "Chirp Extended Bold";
      font-size: 18px;
      margin: 0;
      cursor: pointer;
      color: #FFF;
      line-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        text-decoration: underline;
      }

      svg {
        margin-right: 10px;
        margin-bottom: 3px;
      }


      @media (min-width: 1080px) {
        font-size: 16px;

        &:not(:last-child) {
          margin: 0 15px;
        }

        &:last-child {
          margin: 0 0 0 15px;
        }
      }

      a {
        color: #FFF;
        text-decoration: none;
      }
    }
  }
}